<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/cache   http://www.springframework.org/schema/cache/spring-cache.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/task    http://www.springframework.org/schema/task/spring-task-3.2.xsd
           http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       ">
	<context:component-scan base-package="com.qaplus">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 启动AOP支持aspject -->
	<aop:aspectj-autoproxy />
	<!-- 注解缓存 -->
	<cache:annotation-driven />
	<!-- 启动定时器注解 -->
	<task:annotation-driven />


	<!-- AOP注入，实现每次插入到数据库都有前五个固定参数 -->
	<bean id="addExtraParam" class="com.qaplus.aspect.AddExtraParamAspect" />
	<aop:config>
		<aop:aspect ref="addExtraParam">
			<aop:before method="beforeInsert"
				pointcut="execution(* com.qaplus.mapper.*.insert*(..))" />
			<aop:before method="beforeInsert"
				pointcut="execution(* com.qaplus.mapper.*.save*(..))" />
			<aop:before method="beforeInsert"
				pointcut="execution(* com.qaplus.mapper.*.add*(..))" />
			<aop:before method="beforeUpdate"
				pointcut="execution(* com.qaplus.mapper.*.update*(..))" />
			<aop:before method="beforeUpdate"
				pointcut="execution(* com.qaplus.mapper.*.remove*(..))" />
			<aop:before method="beforeUpdate"
				pointcut="execution(* com.qaplus.mapper.*.del*(..))" />
		</aop:aspect>
	</aop:config>

	<!-- 批量操作数据库配置 -->
	<bean class="com.qaplus.sql.batch.BatchSupport">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- ExcelUtil配置 -->
	<bean class="com.qaplus.utils.excel.ExcelUtil">
		<property name="excelConfigService" ref="excelConfigServiceImpl"></property>
	</bean>

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
		<property name="driverClass" value="${jdbc.driverClass}" />

		<property name="initialPoolSize" value="${c3p0.initialPoolSize}" />
		<property name="acquireIncrement" value="${c3p0.acquireIncrement}" />
		<property name="minPoolSize" value="${c3p0.minPoolSize}" />
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
		<property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod}" />
		<property name="preferredTestQuery" value="${c3p0.preferredTestQuery}" />
	</bean>


	<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="mapperLocations">
			<list>
				<!-- 自动匹配Mapper映射文件 -->
				<value>classpath:com/qaplus/mapper/*.xml</value>
			</list>
		</property>
	</bean>

	<!-- 开启mybatis注解(否者Mapper注入不进去报错：No bean named 'employeeMapper' is defined) -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
		<property name="basePackage" value="com.qaplus" />
	</bean>


	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<tx:advice id="servicesTransaction" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="services"
			expression="execution(* com.qaplus.service.*.*(..))" />
		<aop:advisor pointcut-ref="services" advice-ref="servicesTransaction" />
	</aop:config>

	<!-- Ehcache实现Spring cache -->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
		p:cache-manager-ref="ehcacheManager" />

	<bean id="ehcacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		p:config-location="classpath:ehcache-spring.xml">
		<!-- 一定要共享，否者完成任务(activit)的时候会报错：Another unnamed CacheManager already exists 
			in the same VM -->
		<property name="shared" value="true"></property>
	</bean>

	<!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓spring 发送邮件↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
	<bean class="com.qaplus.utils.mail.SendMailUtil">
		<property name="sender" value="18274948638@163.com" />
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.163.com"></property>
		<property name="username" value="18274948638@163.com"></property>
		<property name="password" value="mylzabkdcsehejho"></property>
	</bean>
</beans>
