.question_search ul li {
	float: left;
	width: 75px;
	margin-right: 10px;
}

#categray {
	margin-left: -40px;
}

.search {
	margin-top: 0px !important;
}
.layui-layer {
	z-index: 3 !important;
}
.layui-layer-shade{
	z-index: 2 !important;
}

/* .datetimepicker{
	z-index: 19891017 !important;
}
.select2{
	z-index: 19891017 !important;
} */